.paddingSpace {
    padding: 2%
  }
.padding_3 {
    padding: 3%
  }
.fontText{
  font-family: initial;
  font-size: 19px;
  padding: 2%
}
.spanFont{
  color: black;
  font-weight: bold;
}
mat-form-field{
    width: 100%;
}